form,h1{
    margin: 0 2rem;
}
i{
    color: rgb(199, 17, 17);
    /* font-size: .25rem; */
    vertical-align: super;
}

input, label{
    display: block;
    margin:.5rem;
}

b{
    font-weight:300;
    font-size: .8rem;
}

.file-label, label{
    margin-top: 1.25rem;
}

.url-input,.submit {
    border-radius: 5px;
    height: 1.5rem;
    border:1px rgb(177, 177, 177) solid;
    padding:.1rem .55rem ;
    width: 50vw;
}

.submit{
    background-color: rgb(0, 110, 255);
    border: none;
    color:white;
    width:auto;
    margin:1.5rem 0.5rem;
    height:1.75rem;
    padding:.3rem .85rem .3rem 0.75rem;
}